<style>


  .container{
  display: flex; 
  }
  
  .signup-form{
  width: 300px;
  /* background-color: #AFEEEE; */
  }
  .flex-item{
  flex-grow: 1;
  /* padding: 10px;  */
  /* padding-left: 200 px; */
  }
  
  .right-side {
    text-align: right; 
    padding: 20; 
  }
  
  .left-side {
    text-align: left; 
    padding: 20; 
  }
  
  .center{
    text-align: center; 
    padding: 20; 
    /* width: 300px;  */
  }
  
  
  .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
  }

  .side2 {
      padding: 25;
      -ms-flex: 30%; /* IE10 */
      flex: 30%;
      /* background-color: rgb(158, 238, 205) */
      
      /* padding: 20; */
  }
  .side {
      padding: 25;
      -ms-flex: 30%; /* IE10 */
      flex: 30%;
      background-color: rgb(158, 238, 205)
      
      /* padding: 20; */
  }
  
  p {
    margin: 10; 
    padding: 10; 
    width: 150 px; 
  }
  
  .map{
    align-content: center;
  }
  </style>
  
  
  <!DOCTYPE html>
  <html>
  <head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- Jquery 3.4.1.min.js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  
  <meta charset='utf-8' />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
  
  </head>
  <body>
  <div class="center">
      <h2><%= post.title %> is a <%= post.type %> at <i><%= post.address %></i> - <strong><%= post.price %>$</strong></h2>
      <p></p>
        <h3>The Landlord's Description:</h3>
        <p><%= post.description %></p>
        <p></p>
      </div>

  <!-- <div class = "row"> -->
      <div class="side2" id='map' style='width: 800px; height: 800px;'></div>
      <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiY2h1bmt5dG9mdTE1NyIsImEiOiJjangwMXVoNjgxNXV1NDhvNmFiY2o1ZGU5In0.xR3QHoTmnIUe1jl2u9bTHQ';
      var map = new mapboxgl.Map({
      container: 'map',
      center: [-123.1207, 49.2827],
      zoom: 11, 
      style: 'mapbox://styles/mapbox/streets-v11'
      });
      map.addControl(new mapboxgl.NavigationControl());

var marker = new mapboxgl.Marker() // initialize a new marker
  .setLngLat([-123.1207, 49.2827]) // Marker [lng, lat] coordinates
  .addTo(map); // Add the marker to the map


var geocoder = new MapboxGeocoder({ // Initialize the geocoder
  accessToken: mapboxgl.accessToken, // Set the access token
  mapboxgl: mapboxgl, // Set the mapbox-gl instance
  marker: false, // Do not use the default marker style
  placeholder: 'Search for rentals in Vancouver',
  proximity: {
    longitude: -123.1207,
    latitude: 49.2827
  }
});

// Add the geocoder to the map
map.addControl(geocoder);


map.on('load', function() {
  map.addSource('single-point', {
    type: 'geojson',
    data: {
      type: 'FeatureCollection',
      features: []
    }
  });

  map.addLayer({
    id: 'point',
    source: 'single-point',
    type: 'circle',
    paint: {
      'circle-radius': 10,
      'circle-color': '#448ee4'
    }
  });

  // Listen for the `result` event from the Geocoder
  // `result` event is triggered when a user makes a selection
  //  Add a marker at the result's coordinates
  geocoder.on('result', function(e) {
    map.getSource('single-point').setData(e.result.geometry);
  });
});
 </script>
  
      
      
      <div class = "center"> 
          <!-- <img src="images/gastown.jpg"> -->
      <div class = "right-side">
        <h5>This unit's features:</h5>
        <ur>
          <li> <%= features.rooms %> Bedroom</li>
          <li>Parking Available: <%= features.parking %></li>
          <li>Smoking Allowed: <%= features.smoking %></li>
          <li>Pets Allowed: <%= features.pets %></li>
        </ur>
        <p></p>
        <h5>Please contact <%= post.landlord.name %>:</h5>
          <ur></ur>
            <li><strong>Email</strong> - <%= post.landlord.email %></li>
            <li><strong>Phone</strong> - <%= post.landlord.phone %></li>
          </ur>
      </div>
      </div>
      
      
      <div class = "center">
        <h4>Some of the amazing amenities here are:</h4>
      </div>
      
      <div class="row">
        <div class = "side">
            <% if(amenities.parks.length > 0) { %>
            <h5>Parks and Recreation:</h5>
            <!-- <ul> -->
              <% amenities.parks.forEach((o) => { %>
              <li><strong><%= o.park_name %></strong> <% if(o.facility != 'Null'){ %> - <%= o.facility %><% } %></li>
              <% }); %>
              <% } %>
            <!-- </ul> -->
                <p> </p>
            
            <!-- </ul> -->
              </div>
          <div class= "side">
            <% if(amenities.supermarkets.length > 0) { %>
            <h5>Supermarkets:</h5>
            <!-- <ul> -->
              <% amenities.supermarkets.forEach((o) => { %>
              <li><strong><%= o.supermarket_name %></strong> - <%= o.supermarket_type %></li>
              <% }); %>
            <!-- </ul> -->
            <p> </p>
            <% } %>
          <% if(amenities.restaurants.length > 0) { %>
          <h5>Restaurants:</h5>
          <!-- <ul> -->
            <% amenities.restaurants.forEach((o) => { %>
            <li><strong><%= o.restaurant_name %></strong> - <%= o.restaurant_cuisine %></li>
            <% }); %>
          <!-- </ul> -->
          <% } %>
        </div>
      
        <div class ="side">
          <% if(amenities.schools.length > 0) { %>
          <h5>Schools:</h5>
          <!-- <ul> -->
            <% amenities.schools.forEach((o) => { %>
            <li><strong><%= o.school_name %></strong> - <%= o.school_type %></li>
            <% }); %>
          <!-- </ul> -->
          
          <p> </p>
          <% } %>
          <% if(amenities.hospitals.length > 0) { %>
          <h5>Hospitals:</h5>
          <!-- <ul> -->
            <% amenities.hospitals.forEach((o) => { %>
            <li><strong><%= o.hospital_name %></strong> - <%= o.hospital_address %></li>
            <% }); %>
          <!-- </ul> -->
          <% } %>

          <% if(transit.buses.length > 0) { %>
            <h5>Buses:</h5>
            <!-- <ul> -->
              <% transit.buses.forEach((o) => { %>
              <li><strong><%= o.route_name %></strong></li>
              <% }); %>
              <p></p>
              <% } %>

              <% if(transit.skytrains.length > 0) { %>
                <h5>Skytrains:</h5>
                <!-- <ul> -->
                  <% transit.skytrains.forEach((o) => { %>
                  <li><strong><%= o.route_name %></strong></li>
                  <% }); %>
                  <% } %>
        </div>
      </div>
      </div>
      </div>
  
  
  
  
  
  
  </body>
  </html>
